---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'

// Content
import {
	IconClock,
	IconCrown,
	IconHeart,
	IconHeartHandshake,
	IconMedal2,
	IconScreenShare,
	IconShieldPin,
	IconTargetArrow
} from '@tabler/icons-react'
import 'aos/dist/aos.css'
---

<script>
	import AOS from 'aos'
	AOS.init({ once: true })
</script>

<Section classes="z-10 bg-white" id="features">
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty px-20">¿Por qué elegir <strong>Autónomas</strong>?</h2>
		</Col>
	</Row>
	<Row>
		<Col span="12" classes="m-auto px-5">
			<div
				class="grid h-fit grid-flow-row grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
			>
				<div class="flex flex-col">
					<div
						id="card"
						class="mb-4 flex flex-1 flex-col items-center rounded-3xl bg-neutral-50 p-10 text-center"
					>
						<h3>Servicio destacado</h3>
						<p>Más de 110.000 mujeres nos siguen y recomiendan en redes sociales.</p>
						<div class="flex size-full items-center justify-center">
							<IconMedal2 className="h-auto w-1/4 text-primary-500 drop-shadow-xl" />
						</div>
					</div>
					<div
						data-aos="fade-up"
						id="card"
						class="flex flex-shrink flex-col items-center rounded-3xl bg-neutral-50 p-10 text-center"
					>
						<h3>Cuidamos tu tiempo</h3>
						<p>
							"Elige los días y horarios que mejor se adapten a ti: tenemos opciones en horario
							laboral y vespertino."
						</p>
						<div class="flex size-full items-center justify-center">
							<IconClock className="h-auto w-1/4 text-primary-500 drop-shadow-xl" />
						</div>
					</div>
				</div>
				<div class="flex flex-col">
					<div
						data-aos="fade-up"
						id="card"
						class="mb-4 flex h-fit flex-1 flex-col items-center rounded-3xl bg-neutral-50 p-10 text-center"
					>
						<h3>Todas las edades</h3>
						<p>La edad no importa; lo único que necesitas son las ganas de aprender.</p>
						<div class="flex size-full items-center justify-center">
							<IconHeart className="h-auto w-1/4 text-primary-500 drop-shadow-xl" />
						</div>
					</div>
					<div
						id="card"
						class="flex h-fit flex-col items-center rounded-3xl bg-neutral-50 p-10 text-center"
					>
						<h3>Clases teóricas desde tu casa</h3>
						<p>
							Gracias a nuestra alianza con <a href="https://practicatest.cl"
								><strong>PracticaTest</strong></a
							>, te ofrecemos clases online semanales durante todo el año, para que aprendas
							cómodamente desde tu hogar.
						</p>
						<div class="flex size-full items-center justify-center">
							<IconScreenShare className="h-auto w-1/4 text-primary-500 drop-shadow-xl" />
						</div>
					</div>
				</div>
				<div>
					<div
						data-aos="fade-up"
						id="card"
						class="mb-4 flex h-fit flex-col items-center rounded-3xl bg-neutral-50 p-10 text-center"
					>
						<h3>Coaches con experiencia</h3>
						<p>
							Nuestras coaches están comprometidas a compartir contigo su conocimiento y experiencia
							para que aprendas con confianza.
						</p>
						<div class="flex size-full items-center justify-center">
							<IconCrown className="h-auto w-1/4 text-primary-500 drop-shadow-xl" />
						</div>
					</div>
					<div
						data-aos="fade-up"
						id="card"
						class="flex h-fit flex-col items-center rounded-3xl bg-neutral-50 p-10 text-center"
					>
						<h3>Tu meta es nuestra meta</h3>
						<p>
							Nos dedicamos a que logres conducir de manera autónoma y segura, más allá de
							simplemente obtener tu licencia.
						</p>
						<div class="flex size-full items-center justify-center">
							<IconTargetArrow className="h-auto w-1/4 text-primary-500 drop-shadow-xl" />
						</div>
					</div>
				</div>
				<div class="flex flex-col">
					<div
						data-aos="fade-up"
						id="card"
						class="mb-4 flex h-fit flex-col items-center rounded-3xl bg-neutral-50 p-10 text-center"
					>
						<h3>Enfoque individual</h3>
						<p>
							Sabemos que cada mujer es única, por eso tu clase será completamente personalizada.
						</p>
						<div class="flex size-full items-center justify-center">
							<IconHeartHandshake className="h-auto w-1/4 text-primary-500 drop-shadow-xl" />
						</div>
					</div>
					<div
						data-aos="fade-up"
						id="card"
						class="flex h-fit flex-1 flex-col items-center rounded-3xl bg-neutral-50 p-10 text-center"
					>
						<h3>Seguridad en cada ruta</h3>
						<p>
							Disponemos de rutas probadas en todas las comunas, lo que nos permite brindarte una
							experiencia de aprendizaje segura y confiable desde el primer momento.
						</p>
						<div class="flex size-full items-center justify-center">
							<IconShieldPin className="h-auto w-1/4 text-primary-500 drop-shadow-xl" />
						</div>
					</div>
				</div>
			</div>
		</Col>
	</Row>
</Section>
