---
// Highlights Section
// ------------
// Description: A section with a multiple text and image rows.

// Components
// - UI
import { IconCircleCheck } from '@tabler/icons-react'
import Section from '../../ui/Section.astro'
import 'aos/dist/aos.css'
---

<script>
	import AOS from 'aos'
	AOS.init({ once: true, duration: 800 })
</script>

<Section id="cursos" classes="z-10 bg-neutral-50">
	<h2 data-aos="fade-up" class="text-center">Nuestros Cursos</h2>
	<div
		class="scroll-animation m-auto grid grid-cols-1 place-items-center gap-14 px-10 xl:grid-cols-3"
	>
		<div
			class="flex h-full w-fit flex-col items-center justify-evenly rounded-3xl bg-white px-14 py-10 shadow-xl"
			data-aos="flip-left"
		>
			<h3 class="m-1 text-center">Programa Diurno</h3>
			<span class="mb-2 text-gray-400">(08:00 hrs. - 16:00 hrs.)</span>
			<span class="mb-5 text-center text-6xl font-bold text-primary-500">$229.000</span>
			<ul class="space-y-1">
				<li>
					<IconCircleCheck className="mr-2 inline" />
					<span>Clases teóricas con PracticaTest.</span>
				</li>
				<li>
					<IconCircleCheck className="mr-2 inline" />
					<span>Ruta personalizada según tu nivel de conducción.</span>
				</li>
				<li>
					<IconCircleCheck className="mr-2 inline" />
					<span>5 clases prácticas de 2 horas cada una.</span>
				</li>
				<li>
					<IconCircleCheck className="mr-2 inline" />
					<span>Recogida de la alumna en su domicilio.</span>
				</li>
				<li>
					<IconCircleCheck className="mr-2 inline" />
					<span>Regreso de la alumna a su domicilio.</span>
				</li>
				<li>
					<IconCircleCheck className="mr-2 inline" />
					<span>Coordinación continua en línea.</span>
				</li>
				<li>
					<IconCircleCheck className="mr-2 inline" />
					<span>Soporte en línea.</span>
				</li>
			</ul>
			<a
				class="mt-5 rounded-md border-2 border-solid border-primary-500 bg-primary-500 px-3 py-2 text-white transition duration-300 hover:scale-105 hover:border-primary-700 hover:bg-primary-700 hover:text-white"
				href="https://wa.me/56940740509?text=Hola%2C%20me%20gustar%C3%ADa%20agendar%20mis%20clases%20para%20el%20programa%20diurno."
			>
				Agenda tu curso
			</a>
		</div>
		<div
			class="flex w-fit flex-col items-center justify-evenly rounded-3xl bg-white px-14 py-10 shadow-xl"
			data-aos="flip-left"
		>
			<h3 class="m-1 text-center">Programa Vespertino</h3>
			<span class="mb-2 text-gray-400">(16:00 hrs. - 23:00 hrs.)</span>
			<span class="mb-5 text-center text-6xl font-bold text-primary-500">$269.000</span>
			<ul class="space-y-1">
				<li>
					<IconCircleCheck className="mr-2 inline" />
					<span>Clases teóricas con PracticaTest.</span>
				</li>
				<li>
					<IconCircleCheck className="mr-2 inline" />
					<span>Ruta personalizada según tu nivel de conducción.</span>
				</li>
				<li>
					<IconCircleCheck className="mr-2 inline" />
					<span>5 clases prácticas de 2 horas cada una.</span>
				</li>
				<li>
					<IconCircleCheck className="mr-2 inline" />
					<span>Recogida de la alumna en su domicilio.</span>
				</li>
				<li>
					<IconCircleCheck className="mr-2 inline" />
					<span>Regreso de la alumna a su domicilio.</span>
				</li>
				<li>
					<IconCircleCheck className="mr-2 inline" />
					<span>Coordinación continua en línea.</span>
				</li>
				<li>
					<IconCircleCheck className="mr-2 inline" />
					<span>Soporte en línea.</span>
				</li>
			</ul>
			<a
				class="mt-5 rounded-md border-2 border-solid border-primary-500 bg-primary-500 px-3 py-2 text-white transition duration-300 hover:scale-105 hover:border-primary-700 hover:bg-primary-700 hover:text-white"
				href="https://wa.me/56940740509?text=Hola%2C%20me%20gustar%C3%ADa%20agendar%20mis%20clases%20para%20el%20programa%20vespertino."
			>
				Agenda tu curso
			</a>
		</div>
		<div
			class="flex w-fit flex-col items-center justify-evenly rounded-3xl bg-white px-14 py-10 shadow-xl"
			data-aos="flip-left"
		>
			<h3 class="m-1 text-center">Programa Sábados</h3>
			<span class="mb-2 text-gray-400">(4 sábados al mes.)</span>
			<span class="mb-5 text-center text-6xl font-bold text-primary-500">$295.000</span>
			<ul class="space-y-1">
				<li>
					<IconCircleCheck className="mr-2 inline" />
					<span>Clases teóricas con PracticaTest.</span>
				</li>
				<li>
					<IconCircleCheck className="mr-2 inline" />
					<span>Ruta personalizada según tu nivel de conducción.</span>
				</li>
				<li>
					<IconCircleCheck className="mr-2 inline" />
					<span>4 clases prácticas de 2.5 horas cada una.</span>
				</li>
				<li>
					<IconCircleCheck className="mr-2 inline" />
					<span>Recogida de la alumna en su domicilio.</span>
				</li>
				<li>
					<IconCircleCheck className="mr-2 inline" />
					<span>Regreso de la alumna a su domicilio.</span>
				</li>
				<li>
					<IconCircleCheck className="mr-2 inline" />
					<span>Coordinación continua en línea.</span>
				</li>
				<li>
					<IconCircleCheck className="mr-2 inline" />
					<span>Soporte en línea.</span>
				</li>
				<li>
					<IconCircleCheck className="mr-2 inline" />
					<span>5 clases prácticas en simulador profesional de realidad virtual.</span>
				</li>
			</ul>
			<a
				class="mt-5 rounded-md border-2 border-solid border-primary-500 bg-primary-500 px-3 py-2 text-white transition duration-300 hover:scale-105 hover:border-primary-700 hover:bg-primary-700 hover:text-white"
				href="https://wa.me/56940740509?text=Hola%2C%20me%20gustar%C3%ADa%20agendar%20mis%20clases%20para%20el%20programa%20sábados."
			>
				Agenda tu curso
			</a>
		</div>
	</div>
</Section>
