---
// Highlights Section
// ------------
// Description: A section with a multiple text and image rows.

// Components
// - UI
import { IconCircleCheck } from '@tabler/icons-react'
import Section from '../../ui/Section.astro'
import { WHATSAPP_NUMBER } from '../../../config'
import 'aos/dist/aos.css'

const PLANES = [
	{
		titulo: 'Programa Diurno',
		horario: '8:00 hrs. - 16:00 hrs.',
		precio: 239000,
		bulletPoints: [
			'Clases teóricas con PracticaTest.',
			'Ruta personalizada según tu nivel de conducción.',
			'5 clases prácticas de 2 horas cada una.',
			'Recogida de la alumna en su domicilio.',
			'Regreso de la alumna a su domicilio.',
			'Coordinación continua en línea.',
			'Soporte en línea.'
		]
	},
	{
		titulo: 'Programa Vespertino',
		horario: '16:00 hrs. - 23:00 hrs.',
		precio: 279000,
		bulletPoints: [
			'Clases teóricas con PracticaTest.',
			'Ruta personalizada según tu nivel de conducción.',
			'5 clases prácticas de 2 horas cada una.',
			'Recogida de la alumna en su domicilio.',
			'Regreso de la alumna a su domicilio.',
			'Coordinación continua en línea.',
			'Soporte en línea.'
		]
	},
	{
		titulo: 'Programa Sábados',
		horario: '4 sábados al mes.',
		precio: 305000,
		bulletPoints: [
			'Clases teóricas con PracticaTest.',
			'Ruta personalizada según tu nivel de conducción.',
			'4 clases prácticas de 2.5 horas cada una.',
			'Recogida de la alumna en su domicilio.',
			'Regreso de la alumna a su domicilio.',
			'Coordinación continua en línea.',
			'Soporte en línea.',
			'5 clases prácticas en simulador profesional de realidad virtual.'
		]
	}
]

const clpFormatter = new Intl.NumberFormat('es-CL', {
	style: 'currency',
	currency: 'CLP',
	minimumFractionDigits: 0 // CLP does not use decimals
})
---

<script>
	import AOS from 'aos'
	AOS.init({ once: true, duration: 800 })
</script>

<Section id="cursos" classes="z-10 bg-neutral-50">
	<h2 data-aos="fade-up" class="text-center">Nuestros Cursos</h2>
	<div
		class="scroll-animation m-auto grid grid-cols-1 place-items-center gap-14 px-10 xl:grid-cols-3"
	>
		{
			PLANES.map((plan) => (
				<div
					class="flex h-full w-fit max-w-[80vw] flex-col items-center justify-evenly rounded-3xl bg-white px-14 py-10 shadow-xl"
					data-aos="flip-left"
				>
					<h3 class="m-1 text-center">{plan.titulo}</h3>
					<span class="mb-2 text-gray-400">({plan.horario})</span>
					<span class="mb-5 text-center text-5xl font-bold text-primary-500">
						{clpFormatter.format(plan.precio)}
					</span>
					<ul class="space-y-1">
						{plan.bulletPoints.map((bp) => (
							<li>
								<IconCircleCheck className="mr-2 inline" />
								<span>{bp}</span>
							</li>
						))}
					</ul>
					<a
						class="mt-5 rounded-md border-2 border-solid border-primary-500 bg-primary-500 px-3 py-2 text-white transition duration-300 hover:scale-105 hover:border-primary-700 hover:bg-primary-700 hover:text-white"
						target="_blank"
						href={
							'https://wa.me/' +
							WHATSAPP_NUMBER +
							'?text=' +
							encodeURI('Hola, me gustaría agendar mis clases de ' + plan.titulo)
						}
					>
						Agenda tu curso
					</a>
				</div>
			))
		}
	</div>
</Section>
