---
// Components
// - Layout
import Layout from '../layouts/Layout.astro'
// - UI
import Hero from '../components/blocks/hero/HomeCTA.astro'
import Features from '../components/blocks/features/FeatureCards.astro'
import Testimonial from '../components/blocks/testimonials/BasicDark.astro'
import Cursos from '../components/blocks/highlights/HightlightRows.astro'

// Content
// - Testimonial background
import testimonialBackground from '/public/testimonials-bg.webp'
import { IconBrandWhatsapp } from '@tabler/icons-react'
import QuienesSomos from '../components/blocks/quienes-somos/QuienesSomos.astro'
import Contacto from '../components/blocks/contacto/Contacto.astro'
// - SEO
const SEO = {
	title: 'Autónomas | Driving Coach',
	description:
		'Autónomas surge como respuesta a la necesidad de seguridad, empatía y sororidad entre mujeres. Ahora, podrás confiar en que en Autónomas encontrarás un servicio diseñado y ofrecido exclusivamente por mujeres, para mujeres.'
}
---

<Layout title={SEO.title} description={SEO.description}>
	<Hero />
	<Features />
	<QuienesSomos />
	<Testimonial bg={testimonialBackground} bgPosition="right" />
	<Cursos />
	<Contacto />
	<a
		href="/"
		class="fixed bottom-10 right-10 z-50 rounded-full bg-green-400 p-2 transition hover:scale-110"
	>
		<IconBrandWhatsapp stroke={1.8} className="size-12 text-white" />
	</a>
</Layout>
