---
import { IconBrandInstagram, IconBrandTiktok, IconBrandWhatsapp } from '@tabler/icons-react'
import Section from '../../ui/Section.astro'
import Image from 'astro/components/Image.astro'
---

<script>
	import Aos from 'aos'
	Aos.init()
</script>

<Section id="quienes-somos" classes="bg-white z-10">
	<div class="grid grid-flow-row gap-x-20 lg:grid-flow-col">
		<div>
			<h2 class="text-center text-pink-600">¿Quiénes somos?</h2>
			<p data-aos="fade-up" class="leading-loose">
				<strong>Autónomas</strong> surge como una respuesta a la necesidad de crear un espacio seguro,
				empático y solidario entre mujeres. Este proyecto ofrece la tranquilidad de saber, desde el primer
				momento, que en <strong>Autónomas</strong> encontrarán un servicio diseñado, gestionado y brindado
				exclusivamente por mujeres y para mujeres, promoviendo así una comunidad basada en la confianza,
				la comprensión y el apoyo mutuo.
			</p>
			<div data-aos="fade" data-aos-delay="200" class="mb-7 flex w-full justify-center gap-x-3">
				<a
					class="text-neutral-500 transition duration-200 hover:scale-110 hover:text-pink-600"
					href="/"
				>
					<IconBrandInstagram className="size-10" />
				</a>
				<a
					class="text-neutral-500 transition duration-200 hover:scale-110 hover:text-cyan-500"
					href="/"
				>
					<IconBrandTiktok className="size-10" />
				</a>
				<a
					class="text-neutral-500 transition duration-200 hover:scale-110 hover:text-green-500"
					href="/"
				>
					<IconBrandWhatsapp className="size-10" />
				</a>
			</div>
		</div>
		<Image
			data-aos="fade-left"
			draggable={false}
			alt="sample"
			class="size-full rounded-2xl object-cover"
			width={1000}
			height={1000}
			src="/sample.png"
		/>
	</div>
</Section>
