---
// Home page CTA Section
// ------------
// Description: A centered call to action section that contains: a title, text, a user review snippet, a button and a image.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Button from '../../ui/Button.astro'
import { Image } from 'astro:assets'

// Content
---

<Section id="intro" fullWidth padding="none" classes="z-10 bg-neutral-50">
	<Row classes="py-44">
		<Col span="2" />
		<Image
			draggable={false}
			loading="eager"
			height={5616}
			width={3744}
			alt="Portada de la página de inicio"
			class="absolute left-0 top-0 h-full w-full object-cover opacity-50"
			src="/main.webp"
		/>
		<Col span="8" align="center">
			<h1 class="px-20 drop-shadow-2xl">
				Comienza a ser <strong>Autónoma</strong> con nuestros cursos de conducción.
			</h1>

			<p class="pb-0 text-lg drop-shadow-2xl">De mujeres, para mujeres.</p>
			<Button size="lg" link="#Cursos">Inscríbete ahora!</Button>
		</Col>
		<Col span="2" />
		<Col span="2" />
		<Col span="2" />
	</Row>
</Section>

<style>
	h4 {
		text-align: center;
	}
</style>
